DATABASE_URL="postgresql://postgres:postgres@localhost:5432/subverif_db?schema=public"
BETTER_AUTH_SECRET="subverif_pro_super_secure_secret_key_2026"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
